<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>

<h1>Информация о Пользователе</h1>

Логин: {{login}}
<br>
<br>
Пароль: {{password}}
<br>
<br>
Хобби: {{hobby}}
<br>
<br>
Возраст: {{age}}
<br>
<br>
</body>
</html>